body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    img src: https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fto-do-list&psig=AOvVaw3o8xCVTGNsy9EK00XRZqus&ust=1692374859037000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMjrs-iJ5IADFQAAAAAdAAAAABAE;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    transition: transform 0.3s, opacity 0.3s;
}

li:last-child {
    border-bottom: none;
}

.delete-btn {
    color: #ff0000;
    cursor: pointer;
    transition: color 0.3s;
}

.done {
    text-decoration: line-through;
    color: #aaa;
    transition: color 0.3s;
}